<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{{ project.title }}</title>

  <meta charset='utf-8'>
  <meta name='author' content='Maciej Filip Szkodziński'>

  <!-- Bootstrap -->
  <meta name='viewport' 
        content='width=device-width, initial-scale=1.0'>
  <link href='css/bootstrap.min.css' 
        rel='stylesheet' 
        media='screen'>

</head>
<body onload='setupProject()'> 

  <div class='container'>

    <div class='page-header'>
      <h1>Practice projects <small>of Maciej Filip Szkodziński</small></h1>
    </div>

    <div class='row'>

      <div class='col-md-3'>
        <nav class='navbar navbar-default hidden-print' role='navigation'>
        
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='#'>Completed projects</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class='collapse navbar-collapse navbar-ex1-collapse'>
            <ul class='nav navbar-nav'>
            {% for link in menu %}
              <li {% if link.href == navbar.current.href %}
                    class='active'
                  {% endif %}>
                <a href='{{ link.href }}'>{{ link.text }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>

        </nav>
      </div>
      
      <div class='col-md-9' role='main'>
        
        <ul id='navbar' class='pager'>
            {% if navbar.previous is not none %}
            <li class='previous'><a href='{{ navbar.previous.href }}'>&larr; {{ navbar.previous.text }}</a></li>
            {% endif %}
            
            {% if navbar.next is not none %}
            <li class='next'><a href='{{ navbar.next.href }}'>{{ navbar.next.text }} &rarr;</a></li>
            {% endif %}
        </ul>

        <div class='panel panel-default'>
          <div class='panel-body'>
            {{ project.description }}
          </div>
          <div id='project-body' class='panel-footer'>
            <script src='js/projects-common.js'></script>
            {{ project.body }}
          </div>
        </div>

      </div>

    </div>
  </div>


  <footer class='modal-footer' role='contentinfo'>
    <div class='container'>
        contact: <a href='mailto:maciej.szkodzinski@gmail.com'>maciej.szkodzinski@gmail.com</a>
    </div>
  </footer>
  <!- - jQuery (necessary for Bootstrap's JavaScript plugins) - ->
  <script src='//code.jquery.com/jquery.js'></script>
  <!- - Include all compiled plugins (below), or include individual files as needed - ->
  <script src='lib/bootstrap.min.js'></script>
</body>
</html>